@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titel"] = "Activiteiten";
}

<div>
    <div>
        <ul>
            <li>
                <a asp-acton="Index">Nieuws</a>
            </li>
            <li>
                <a asp-acton="">activiteiten</a>
            </li>
            <li>
                <a asp-acton="">inschrijvingen</a>
            </li>
            <li>
                <a asp-acton="">uniformen</a>
            </li>
            <li>
                <a asp-acton="">contact</a>
            </li>
            <li>
                <a asp-acton="Login">log in</a>
            </li>
        </ul>
    </div>
    <br />
    <div>
        <h1> Activiteiten</h1>
    </div>
    <div>
        <div>
            <div>
                <h4>Kermisbal</h4>
            </div>
            <div>
                dd/mm/jjjj
            </div>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet a purus ac iaculis. Vestibulum porttitor tellus nisl, et gravida dolor tempor in.<br />
                Sed ut mauris et tellus varius consequat at dictum lectus. Vivamus diam magna, malesuada ut orci ut, ultricies interdum justo. Nam nec ultricies nisl.<br />
                Sed dictum sit amet enim nec efficitur. Aenean commodo lobortis nisi vitae cursus.<br />
                Etiam nec mauris at mi accumsan tristique in ut massa. Sed iaculis tempor nibh, eu vulputate orci vulputate at. Maecenas finibus ullamcorper metus sed faucibus.
            </p>
        </div>
        <div>
            <img src="#" alt="Alternate Text" />
        </div>
    </div>
</div>
