@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titel"] = "Contact";
}
<div>
    <ul>
        <li>
            <a asp-acton="Index">Nieuws</a>
        </li>
        <li>
            <a asp-acton="">activiteiten</a>
        </li>
        <li>
            <a asp-acton="">inschrijvingen</a>
        </li>
        <li>
            <a asp-acton="">uniformen</a>
        </li>
        <li>
            <a asp-acton="">contact</a>
        </li>
        <li>
            <a asp-acton="Login">log in</a>
        </li>
    </ul>
    <br />
    <div>
        <ul>
            <li>
                <p>Ribbels</p>
            </li>
            <li>
                <p>Sloebers</p>
            </li>
            <li>
                <p>Speelclub</p>
            </li>
            <li>
                <p>Supperspeelclub</p>
            </li>
            <li>
                <p>Rakwis</p>
            </li>
            <li>
                <p>Rakkers</p>
            </li>
            <li>
                <p>Tito</p>
            </li>
            <li>
                <p>Keti</p>
            </li>
            <li>
                <p>Aspiranten</p>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <h1> Contact</h1>
        </div>
        <div>
            <h4>Ribbel</h4>
        </div>
        
        <ul>
            <li>
                <div>
                    <p>naam</p>
                    <p>telefoon</p>
                    <p>email</p>
                </div>
            </li>
            <li>
                <div>
                    <p>naam</p>
                    <p>telefoon</p>
                    <p>email</p>
                </div>
            </li>

        </ul>

    </div>
</div>
