
@{
    ViewData["Titel"] = "Nieuws";
}

<div>
    <h1>Nieuws</h1>
</div>
<div>
    <ul>
        <li>
            <a asp-acton="Index">Nieuws</a>
        </li>
        <li>
            <a asp-acton="activiteiten">activiteiten</a>
        </li>
        <li>
            <a asp-acton="" inschrijvingen">inschrijvingen</a>
        </li>
        <li>
            <a asp-acton="ubiformen">uniformen</a>
        </li>
        <li>
            <a asp-acton="contact">contact</a>
        </li>
        <li>
            <a asp-acton="Login">log in</a>
        </li>
    </ul>
    <br />
    <div>
        <h1> Nieuws</h1>
    </div>
    <div>
        <div>
            <h4>Title</h4>
        </div> 
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet a purus ac iaculis. Vestibulum porttitor tellus nisl, et gravida dolor tempor in.<br />
                Sed ut mauris et tellus varius consequat at dictum lectus. Vivamus diam magna, malesuada ut orci ut, ultricies interdum justo. Nam nec ultricies nisl.<br />
                Sed dictum sit amet enim nec efficitur. Aenean commodo lobortis nisi vitae cursus.<br />
                Etiam nec mauris at mi accumsan tristique in ut massa. Sed iaculis tempor nibh, eu vulputate orci vulputate at. Maecenas finibus ullamcorper metus sed faucibus.
            </p>
        </div>
        <div>
            <hr/>
        </div>
    </div>
</div>

