@{
    ViewData["Titel"] = "Login";
}

<div>

</div>
<div>
    <ul>
        <li>
            <a asp-acton="Index">Nieuws</a>
        </li>
        <li>
            <a asp-acton="">activiteiten</a>
        </li>
        <li>
            <a asp-acton="">inschrijvingen</a>
        </li>
        <li>
            <a asp-acton="">uniformen</a>
        </li>
        <li>
            <a asp-acton="">contact</a>
        </li>
        <li>
            <a asp-acton="Login">log in</a>
        </li>
    </ul>
    <br />
    <div>
        <h1> Log in </h1>
    </div>
    <div>
        <div>
            <div>
                <label>gebruikersnaam</label>
                <input name="gebruikersnaam" id="gebruikersnaam" />
            </div>
            <div>
                <label>wachtwoord</label>
                <input name="wachtwoord" id="wachtwoord" />
            </div>
        </div>
        <div>
            <button>inloggen</button>
        </div>
    </div>
    
   
    
</div>