@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titel"] = "Uniformen";
}
<div>
    <ul>
        <li>
            <a asp-acton="Index">Nieuws</a>
        </li>
        <li>
            <a asp-acton="">activiteiten</a>
        </li>
        <li>
            <a asp-acton="">inschrijvingen</a>
        </li>
        <li>
            <a asp-acton="">uniformen</a>
        </li>
        <li>
            <a asp-acton="">contact</a>
        </li>
        <li>
            <a asp-acton="Login">log in</a>
        </li>
    </ul>
    <br />
    <div>
        <h1> Uniformen </h1>
    </div>
    <div>
        <ul>
            <li>
                <div>
                    <label> t-shirt </label>
                    <br />
                    <label> prijs </label>
                    <p>€ 7</p>
                    <br />
                    <div>
                        <div>
                            <label>Maat</label>
                            <datalist>
                                <option>xs</option>
                                <option>s</option>
                                <option>m</option>
                                <option>l</option>
                                <option>xl</option>
                            </datalist>
                        </div>
                        <div>
                            <label>Man</label>
                            <input type="radio" />
                        </div>
                        <div>
                            <label>Vrouw</label>
                            <input type="radio" />
                        </div>

                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
    <ul>
        <li
    </ul>
</div>
